
.center{
  padding: 0px;
  text-align: center;
  
  color: white;
  font-size: 10px;
}
.topnav {
    
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 26px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

.bg-img{
  height: 650 px;
  color: white;
  background-image: url('/assets/img.jpg');
  background-size: cover;
  position:fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

}

.bg-img{
  height: 650 px;
  color: white;
  background-image: url('/assets/img.jpg');
  background-size: cover;
  position:fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

}






