span{
    display: inline-block;
          background-color: #4CAF50;
          border: none;
          border-radius: 10px;
          padding: 5px 12px;
          color:white;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          transition: all 0.5s;
          cursor: pointer;
          margin-left: 10px;
  }